@import "tailwindcss";

input {
    background-color: aliceblue;
    border-radius: 5%;
    color:darkslategray;
    padding: 0px 5px;
}

form section div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}